.lottie-location{
    width: 300px;
    height: 300px;
}
.detail-page{
    background-color: rgb(243,243,243);
}
.loading-product-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.container-detail{
    padding: 60px 0;
    max-width: 1500px;
}
.image-variant{
    width: 100%;
}
.image-detail{
    width: 100%;
    margin-top: 20px;
}
.row-image-detail{
    margin-top: 20px;
}
.detail-content{
    text-align: left;
}