.annoucement-detail{
    margin-top: 50px;
    margin-bottom: 50px;
    border : 1px solid red;
    margin: 50px auto;
    height: 100%;
}
.wrap-annouce-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.main-image-detail{
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    border : 1px solid red
}
.image-detail{
    width: 100%;
    height: auto;
}
.wrap-content-detail{
    border :1px solid black;
    height: 50%;
}
.content-detail{
    
}