.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrap-header {
  background-color: rgb(209, 209, 209);
  padding: 5px 0px;
}
.wrap-container{
  display: flex;
  justify-content: center;
}
.container-header{
  width: 1600px;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.link {
  text-decoration: none;
  color: rgb(120, 106, 106);
  font-size: 14px;
  font-weight: 500;
}
.link:hover{
    color: black !important;
}
.navbar-user {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.link:hover {
  border-bottom: 1px solid #ccc;
  color: rgb(120, 106, 106);
}
.join-link {
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 90000000000000;
}
.join-link-text {
  line-height: 40px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 13px;
  color: rgb(0, 255, 32);
  cursor: pointer;
}
.join-link-text:hover .arrow-link-discord {
  font-size: 15px;
}
.user-icon {
  font-size: 20px;
  cursor: pointer;
}
.user-icon:hover {
  opacity: 0.8;
}

.none {
  display: none;
}
.navbar-logo-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon-content {
  cursor: pointer;
  font-size: 20px;
}
.sidebar{
    color: red;
    position: fixed;
    top:174px;
    border-top: 1px solid rgb(163, 162, 162);
    bottom: 0;
    background-color: rgb(209,209,209);
    transform: translateX(-100%);
    width: 50%;
    z-index: 1000;
}
.show-sidebar{
    transition: all ease-in 0.2s;
    color: red;
    position: fixed;
    top:174px;
    border-top: 1px solid rgb(163, 162, 162);
    border-right: 1px solid rgb(163, 162, 162);
    bottom: 0;
    background-color: rgb(209,209,209);
    width: 50%;
    z-index: 1000000;
}
.nav-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.nav-item-sidebar{
  
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 12px 15px;
    cursor: pointer;
}
.nav-link-sidebar{
    text-decoration: none;
    font-weight: 500;
    color: black    ;
}
.nav-item-sidebar:hover{
    color: black;
    background-color: #ccc;
}
.nav-link-sidebar:hover{
    color: black;
}
.sidebar-keyboard{
    display: flex;
    justify-content: space-between;
}

@keyframes show-sidebar{
    to{
        transform: translateX(0);
    }
}
.nav-dropdow{
    border : 1px solid red
}
.wrap-nav-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.title{
    margin-top: 16px;
}
.nav-category{
    position: relative;
}
.dropdow{
    background-color: rgb(209,209,209);
    border: 1px solid rgb(186, 185, 185);
    min-width: 180px;
    text-align: left;
    padding: 5px 10px 0px 10px;
}
.dopdown-content{
  cursor: pointer;
  font-size: 13px;
}
.dopdown-content:hover{
  font-weight: 500;
  color: black;
  background-color: rgb(209,209,209);
}
.dropdown-title{
  cursor: pointer;
  color: rgb(120, 106, 106);
  font-weight: 500;
}
.dropdown-title:hover{
  color: black;
}
.back-sidebar-list{
  display: flex;
}
.back-sidebar-icon{
  margin-left: 15px;
  margin-top: 10px;
  color:black;
  cursor: pointer;
  font-size: 15px;
}
.back-sidebar-icon:hover{
  font-weight: 500;
  font-size: 18px;
}
.sidebar-category-list{
  list-style: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 10px;
  padding: 0;
  gap: 8px;
}
.sidebar-category-item{
  cursor: pointer;
}
.sidebar-category-item:hover{
  font-weight: 500;
}
.dropdown-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-user{
  color: black; 
}
.sidebar-login{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(202,203,202);
}
.user-login p{
  color: black;
}
.login-icon-sidebar{
  color: black;
}
.user-login{
  display: flex;
  gap: 10px;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.login-content-sidebar{
  position: relative;
  bottom: 4px;
}
.icon-sidebar{
  color: black;
  display: flex;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.nav-content{
  margin: 0 10px;
}
.nav-content:hover{
  text-decoration: underline;
}
.container-modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
  z-index: 1000000000;
}
.modal-content{
  position: relative;
  background-color: rgb(202,203,202);
  width: 100%;
  margin-top: 40px;
  transform: translateY(-200%);
  z-index: 9000000000000000;
}
.show-modal-content{
  position: relative;
  background-color: rgb(202,203,202);
  width: 100%;
  margin-top: 40px;
  animation: show-modal ease-in 0.2s;
  z-index: 9000000000000000;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@keyframes show-modal{
  from {
    transform: translateY(-200%);
  }
  to{
    transform: translateY(0%);
  }
}
.input-search{
  outline: none;
  background-color: rgb(202,203,202);
  border : 1px solid black;
  height: 50px;
  width: 350px;
  padding-left: 10px;
}
.input-search:hover{
  border: 2px solid black;
}
.close-modal-btn{
  cursor: pointer;
  font-size: 25px;
}