.reset-password-page{
    background-color: rgb(243,243,243);
    height: 500px;
}
.reset-title{
    font-weight: 800;
    font-size: 35px;
    padding-top: 50px;
}
.form-reset{
    border-radius: 0;
    outline: none;
    color: black;
}
.form-reset:active{
    border: 1px solid black;
    outline: none;
}
.form-reset-page{
    margin: 0 auto;
    max-width: 500px;
}
.btn-reset{
    margin-top: 30px;
    background-color: black;
    color: rgb(8, 235, 54);
    font-size: 18px;
    padding: 12px 30px;
    font-weight: 400;
    cursor: pointer;
}
.btn-reset:hover{
    transform: scale(1.05);
}
.btn-cancel{
    margin-top: 20px;
    border: none;
    background-color: rgb(243,243,243);
    font-size: 15px;
    border-bottom: 1px solid black;
}