.checkout-page {
  height: 1000px;
}
.container-checkout-page {
  height: 100%;
}
.row-checkout {
  height: 100%;
}
.col-checkout {
  padding-right: 50px;
  padding-top: 55px;
  padding-left: 30px;
}
.info-cart {
  height: fit-content;
  border-right: 1px solid #ccc;
}
.pay-cart {
  height: 100%;
  background-color: rgb(243, 243, 243);
}
.image-product {
  width: 100%;
  height: auto;
}
.row-container-content {
  margin-top: 18px;
}
.border-bottom-product {
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
}
.container-product-checkout {
  width: 60%;
}
.row-content-checkout {
  height: 100%;
}
.col-content-product-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name-product-checkout {
  margin: 0;
}
.checkout-header {
  text-align: left;
  font-size: 25px;
  font-weight: 450;
}
.contact-user > p {
  text-align: left;
  margin-top: 25px;
  font-weight: 450;
  font-size: 17px;
}
.shipping-address {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 450;
  font-size: 17px;
}
.row-input-checkout {
  margin-top: 20px;
}
.checkout-email-col {
  position: relative;
}
.input-email-checkout {
  border: 1px solid black;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  transition: 0.25s ease;
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-top: 12px;
}
.checkout-label-email {
  position: absolute;
  user-select: none;
  left: 25px;
  opacity: 0.6;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.btn-continue {
  margin-top: 40px;
  padding: 18px 12px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.return-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(25, 115, 250);
  cursor: pointer;
  font-weight: 500;
}
.return-content {
  margin: 0;
}
.return-wrap:hover {
  color: rgb(57, 133, 247);
}
.border-col-checkout {
  border: 1px solid #ccc;
  margin-top: 220px;
}
.footer-checkout {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 8px;
}
.link-footer {
  margin-top: 0 !important;
}
.checkout-phone-col {
  position: relative;
}
.input-phone-checkout {
  border: 1px solid black;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  transition: 0.25s ease;
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.checkout-label-phone {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 23px;
  cursor: pointer;
}
.noti-phone {
  position: absolute;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0 10px;
  background-color: rgb(115, 115, 115);
  border: none;
  top: 8px;
  right: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.item-price-checkout p {
  font-weight: 500;
  margin: 0;
}
.item-price-checkout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.name-product-checkout {
  opacity: 0.8;
  font-size: 15px;
}
.row-total-content{
    width: 60%;
    margin-top: 20px;
}
.col-total-content{
    display: flex;
    flex-direction: column;
}
.subtotal-content{
    display: flex;
    align-items: flex-start;
}
.price-content{
    display: flex;
    align-items: flex-end;
}
.shipping-content{
    opacity: 0.8;
}
.border-bottom-subtotal{
    border-bottom: 1px solid #ccc
}
.row-total{
    width: 60%;
    margin-top: 20px;
}
.border-bottom-total{
    border-bottom: 1px solid #ccc;
}
.total-content{
    text-align: left;
    margin: 5px;
    font-weight: 500;
}
.total-price-cart{
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}