.image-homepage{
    background-color: black;
    position: relative;
}
.home-page{
    background-color: rgb(243,243,243);
}
.image-home img{
    width: 100%;
    height: 100%;
}
.row-image-slide{
    --bs-gutter-x : 0
}
.btn-product-page{
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
}
.btn-product-page h1{
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-product-page button{
    outline: none;
    border: none;
    padding: 6px 18px 6px 18px;
    font-size: 12px;
    font-weight: 500;
}
.btn-product-page button:hover{
    transform: scale(1.1);
}
.wrap-content{
    max-width: 1600px;
}
.container-annoucement{
    margin-top: 40px;
    margin-bottom: 100px;
}
.annouce-title{
    font-size: 25px;
    text-align: left;
    font-weight: 700;
}
.image-annouce-wrap{
    overflow: hidden;
    cursor: pointer;
}
.image-annouce{
    transition: transform 0.5s ease;
}
.col-annoucement:hover .image-annouce{
    transform: scale(1.1);
}
.col-annoucement:hover .title-content-annouce{
    text-decoration: underline;
}
.content-annouce{
    background-color: rgb(233,234,233);
    padding: 0 40px;
    padding-top: 30px;
    text-align: left;
    height: 190px;
    overflow: hidden;
}

.title-content-annouce{
    font-size: 19px;
    font-weight: 700;
}
.date-content-annouce{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.main-content-annouce{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color : rgb(120,106,106)
}
.col-content{
    border :1px solid red;
    height: 100px;
}

.container-category-home{
    max-width: 1600px;
}
.category-title{
    text-align: left;
    font-weight: 700;
    font-size: 28px;
}
.product-cart-name{
    font-weight: 700;
}
.product-cart-price{
    font-weight: 700;
}
.product-cart-content{
    margin-top: 30px;
    text-align: left;
}
.btn-view-all{
    border: none;
    background-color: black;
    color: #00FF31;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}
.product-cart-image{
    overflow: hidden;
    cursor: pointer;
}
.cart-image{
    transition: transform 0.5s ease;
}
.product-cart-home:hover .cart-image{
    transform: scale(1.2);
}
.product-cart-home:hover .product-cart-name{
    text-decoration: underline;
}
.product-homepage{
    padding-bottom: 10px;
}
.main-product{
    margin-bottom: 50px;
    margin-top: 50px;
}
.category-home-product{
    margin-top: 100px;
    margin-bottom: 100px;
}