
@media only screen and (max-width : 768px){
    .col-image-homepage-seccond{
        margin-top: 150px;
    }
    .btn-product-page{
        position: absolute;
        bottom: calc(50% - 40px);
        text-align: center;
        width: 100%;
    }
    .btn-product-page h1{
        color: rgb(0,255,49);
    }
    .btn-product-page button{
        background-color: rgb(0,255,49);
        color: black;
    }
    .product-cart-image .cart-image{
        width: 100%;
        height: 100%;
    }
}